<li><a href="/tag/code-sample.html">code sample</a> (2)
<li><a href="/tag/cplusplus.html">cplusplus</a> (2)
<li><a href="/tag/gnome.html">gnome</a> (1)
<li><a href="/tag/importerror.html">ImportError</a> (1)
<li><a href="/tag/project-euler.html">project euler</a> (2)
<li><a href="/tag/python.html">python</a> (1)
<li><a href="/tag/quality.html">quality</a> (1)
<li><a href="/tag/terminal.html">terminal</a> (1)
<li><a href="/tag/troubleshooting.html">troubleshooting</a> (1)
<li><a href="/tag/vim.html">vim</a> (1)
