<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="screen">
    <title>{{ page.title }} - Omegacrash</title>
</head>
<body>
    <div id="logo">
        <h1><a href="/">Omegacrash</a></h1>
        <p>Kevin Goodsell's blog
    </div>

    <hr>

    <div id="header">
        <div id="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about.html" title="About me">About</a></li>
                <li><a href="https://github.com/KevinGoodsell" title="My GitHub projects">GitHub</a></li>
            </ul>
        </div> <!-- menu -->
    </div> <!-- header -->

    <div id="page">
        <div id="content">
        {{ content }}
        </div> <!-- content -->

        <div id="sidebar">
            <ul>
                <li>
                    <h2>About</h2>
                    <p>My name in Kevin Goodsell. I am a software engineer in
                    Seattle, WA. This is my blog about programming, technology,
                    and free software.
                </li>
                <li>
                    <h2>Tags</h2>
                    <ul>
                    {% include taglist.html %}
                    </ul>
                </li>
                <li>
                    <h2>Recent Posts</h2>
                    <ul>
                    {% for post in site.posts limit:5 %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a>
                    {% endfor %}
                    </ul>
                </li>
                <li>
                    <!-- logos and stuff go here -->
                    <p>
                    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">
                        <img class="par" alt="Creative Commons License" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png">
                    </a>
                    Unless otherwise noted, posts on this blog are licensed
                    under a
                    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">
                    Creative Commons Attribution-ShareAlike 3.0 Unported
                    License</a>. Attributions should include my name (Kevin
                    Goodsell) and the URL of the post (optionally in the form of
                    a link for documents that support hypertext).

                    <p>
                    <a href="http://validator.w3.org/check?uri=referer">
                        <img class="par" src="http://www.w3.org/Icons/valid-html401" alt="Valid HTML 4.01 Strict" height="31" width="88">
                    </a>
                    All the HTML on this site should be valid and
                    standards-conforming (though mistakes might slip in). This
                    link provides a quick check.

                    <p>
                    <a href="http://jigsaw.w3.org/css-validator/check/referer">
                        <img class="par" src="http://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
                    </a>
                    Likewise, all the CSS on this site is valid and
                    standards-conforming.
                </li>
            </ul>
        </div> <!-- sidebar -->
    </div> <!-- page -->

    <div id="footer">
        <p>Copyright 2011 Kevin Goodsell.
        <br>CSS and design based on Conjunction from <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.
    </div>
</body>
</html>
